Repository express-validator/express-validator, pull requests merged in 2021-01, with the labels that each got.

#969 fix(IsAlphaOptions.ignore): convert 'string[]' to 'string'
  src/chain/validators-impl.spec.ts
  src/chain/validators-impl.ts
  src/options.ts
Labels: typescript

#982 deps: bump all deps but typescript
  package-lock.json
  package.json
  src/base.ts
  src/validation-result.ts
Labels: dependencies

#948 docs: add migration from v5 to v6
  docs/migration-v5-to-v6.md
Labels: docs

#968 docs: improve docs
  README.md
  docs/api-sanitization-chain.md
  docs/api-validation-chain.md
  docs/faq.md
  docs/feature-custom-validators-sanitizers.md
  docs/feature-sanitization.md
  docs/index.md
  website/i18n/en.json
  website/sidebars.json
Labels: docs
